{
  "n8n": {
    "url": "http://localhost:5678",
    "publicApiKey": "YOUR_API_KEY_HERE",
    "restCliClient": {
      "user": "YOUR_USERNAME",
      "password": "YOUR_PASSWORD"
    }
  },
  "workflows": {
    "dir": "./workflows",
    "exclude": {
      "id": []
    }
  },
  "nodesListFile": ""
}

